header {
  background-color: #4A4A4A;
  color: #ffffff;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; 
}
nav ul li { 
  flex: 0 0 auto;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  
  color: #333;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

body {
  background-color: #2E2E2E;
  color: #F5F5F5;
  margin: 0;
}

main   {
  animation-name: demo;
}
footer {
  background-color: #4A4A4A;
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
}